<%= form_for @device, url: "/control/#{ @device.id }/update", html: { class: "form-horizontal device" } do |f| %>

  <% if @parent_device.present? %>
    <%= hidden_field_tag :parent_device_id, @parent_device.id %>
  <% end %>

  <% if @device.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @device.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label for="device_control_template" class="control-label col-lg-4">
      Control template
    </label>

    <div class="col-lg-8">
      <%= f.select :control_template, options_for_select(Device::CONTROL_TEMPLATES.map{ |x| [x.titleize, x] }, @device.control_template), { include_blank: false }, { class: 'form-control' } %>
    </div>
    <%= f.error_span(:control_template) %>
  </div>

  <div class="form-group">
    <div class="checkbox col-lg-offset-4" style="padding-left: 15px;">
      <label>
        <%= f.check_box :public %>
        Allow public access?
      </label>
    </div>
  </div>

  <br><br>

  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
      <%= f.submit nil, class: 'btn btn-primary', style: 'margin-right: 20px;' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), "/control/#{@device.id}", :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
