<%- model_class = Pin -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:device_id) %>:</strong></dt>
  <dd><%= @pin.device_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pin.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pin_type) %>:</strong></dt>
  <dd><%= @pin.pin_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pin_number) %>:</strong></dt>
  <dd><%= @pin.pin_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:min) %>:</strong></dt>
  <dd><%= @pin.min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max) %>:</strong></dt>
  <dd><%= @pin.max %></dd>
</dl>
