Status: <span id="device_status"></span>

<br><br>

<% @device.pins.where(pin_type: 'digital').order("pin_number asc").each do |pin| %>
  <div class="well">
    <%= pin.name %> (pin number: <%= pin.pin_number %>)
    <button class="on_button">On</button>
    <button class="off_button">Off</button>
    <br>
  </div>
<% end %>

<br>

<% @device.pins.where(pin_type: 'servo').order("pin_number asc").each do |pin| %>
  <div class="well">
    <%= pin.name %> (pin number: <%= pin.pin_number %>)
    <form id="servo_form_<%= pin.pin_number %>">
      <input id="servo_input_<%= pin.pin_number %>" class="servo_position" placeholder="Servo position"></input>
      <button id="servo_button_<%= pin.pin_number %>" class="servo_submit">Submit</button>
      <br><br>
      <input id="slider_<%= pin.pin_number %>" data-slider-id='servo_slider' type="text" data-slider-min="0" data-slider-max="90" data-slider-step="1" data-slider-value="0" />
    </form>
  </div>
<% end %>

<button id="servos_to_0">All Servos To: 0</button>
<button id="servos_to_90">All Servos To: 90</button>

<script>

  <% @device.pins.where(pin_type: 'servo').each do |pin| %>
    // initialize this slider
    var slider_<%= pin.pin_number %> = new Slider("#slider_<%= pin.pin_number %>", {
      formatter: sliderFormatter
    });
  <% end %>

  // format slider tooltip
  function sliderFormatter(value) {
    return 'Current value: ' + value;
  }

  // when the document is ready
  $(document).ready(function() {

    <% @device.pins.where(pin_type: 'servo').each do |pin| %>
      // when the slider is moved
      slider_<%= pin.pin_number %>.on('change', function() {
        // get the slider value
        var value = slider_<%= pin.pin_number %>.getValue();
        // send the value
        $.post('/devices/send_message', {
          message: { pin: <%= pin.pin_number %>, servo: value }
        });
      });

      // when the servo form is submitted
      $('#servo_form_<%= pin.pin_number %>').submit(function() {
        sendServoMessage(<%= pin.pin_number %>);
        // don't reload the page
        return false;
      });
    <% end %>

    // when the on button is clicked
    $('.on_button').click(function() {
      console.log('on button clicked');
      $.post('/devices/send_message', { message: { value: 'on' } });
    });

    // when the off button is clicked
    $('.off_button').click(function() {
      console.log('off button clicked');
      $.post('/devices/send_message', { message: { value: 'off' } });
    });

    // when the 'servos to 0' button is clicked, set all servos to 0
    $('#servos_to_0').click(function() {
      $('.servo_position').val(0);
      $('.servo_submit').click();
    });

    // when the 'servos to 90' button is clicked, set all servos to 90
    $('#servos_to_90').click(function() {
      $('.servo_position').val(90);
      $('.servo_submit').click();
    });

    // subscribe to 'X'
    App.cable.subscriptions.create('DevicesChannel', {
      // when data is received
      received: function(data) {
        // log the data
        console.log(data);
        // update the status
        $('#device_status').text(JSON.stringify(data));
      }
    });

  });

  // send servo position
  function sendServoMessage(pin_number) {
    $.post('/devices/send_message', {
      message: { pin: pin_number, servo: $('#servo_input_' + pin_number).val() }
    });
  }
</script>
