<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js' %>

Status: <span id="device_status"></span>

<br><br>

<% @device.pins.where(pin_type: 'digital').order("pin_number asc").each do |pin| %>
  <div class="well">
    <%= pin.name %> (pin number: <%= pin.pin_number %>)
    <button class="on_button">On</button>
    <button class="off_button">Off</button>
    <br>
  </div>
<% end %>

<br>

<% @device.pins.where(pin_type: 'servo').order("pin_number asc").each do |pin| %>
  <div class="well">
    <%= pin.name %> (pin number: <%= pin.pin_number %>)
    <form id="servo_form">
      <input id="servo_input" placeholder="Servo position"></input>
      <button id="servo_button">Submit</button>
      <br><br>
      <input id="servo_slider" data-slider-id='servo_slider' type="text" data-slider-min="40" data-slider-max="120" data-slider-step="1" data-slider-value="0" />
    </form>
  </div>
<% end %>

<script>
  // initialize slider
  var slider = new Slider('#servo_slider', {
  	formatter: function(value) {
  		return 'Current value: ' + value;
  	}
  });

  // when the document is ready
  $(document).ready(function() {

    // when the slider is moved
    slider.on('slide', function() {
      // get the slider value
      var value = slider.getValue();
      // send the value
      $.post('/devices/send_message', {
        message: { servo: value }
      });
    });

    // when the on button is clicked
    $('.on_button').click(function() {
      console.log('on button clicked');
      $.post('/devices/send_message', { message: { value: 'on' } });
    });

    // when the off button is clicked
    $('.off_button').click(function() {
      console.log('off button clicked');
      $.post('/devices/send_message', { message: { value: 'off' } });
    });

    // when the servo form is submitted
    $('#servo_form').submit(function() {
      sendServoMessage();
      // don't reload the page
      return false;
    });

    // subscribe to 'X'
    App.cable.subscriptions.create('DevicesChannel', {
      // when data is received
      received: function(data) {
        // log the data
        console.log(data);
        // update the status
        $('#device_status').text(JSON.stringify(data));
      }
    });

  });

  // send servo position
  function sendServoMessage() {
    $.post('/devices/send_message', {
      message: { servo: $('#servo_input').val() }
    });
  }
</script>
