<%= form_for @device, :html => { :class => "form-horizontal device" } do |f| %>

  <% if @parent_device.present? %>
    <%= hidden_field_tag :parent_device_id, @parent_device.id %>
  <% end %>

  <% if @device.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @device.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-4' %>
    <div class="col-lg-8">
      <%= f.text_field :name, class: 'form-control', autofocus: !@device.persisted? %>
    </div>
    <%= f.error_span(:name) %>
  </div>
  <div class="form-group">
    <label for="device_device_type" class="control-label col-lg-4">
      Device type
      <span class="glyphicon glyphicon-question-sign tooltip-trigger" aria-hidden="true" ata-toggle="tooltip" data-placement="top" title="If connecting an Arduino, please see the documentation for more info."></span>
    </label>

    <div class="col-lg-8">
      <%= f.select :device_type, options_for_select(Device::DEVICE_TYPES.map{ |x| [x.titleize, x] }, @device.device_type), { include_blank: true }, { class: 'form-control' } %>
    </div>
    <%= f.error_span(:device_type) %>
  </div>

  <% if @device.parent_device.present? %>
    <div class="form-group">
      <%= f.label :i2c_address, :class => 'control-label col-lg-4' %>
      <div class="col-lg-8">
        <%= f.text_field :i2c_address, class: 'form-control', placeholder: 'only applicable for slave devices, example: 0x04' %>
      </div>
      <%= f.error_span(:i2c_address) %>
    </div>
  <% end %>

  <% if @devices.present? && @devices.count > 1 %>
    <div class="form-group">
      <label for="device_broadcast_to_device" class="control-label col-lg-4">
        Broadcast to device
        <span class="glyphicon glyphicon-question-sign tooltip-trigger" aria-hidden="true" ata-toggle="tooltip" data-placement="top" title="Send this device's input data to another device."></span>
      </label>
      <div class="col-lg-8">
        <%= f.select :broadcast_to_device_id, @devices.select{ |device| device.id != @device.id }.map{ |device| [device.display_name, device.id] }, { include_blank: true }, { class: 'form-control' } %>
      </div>
      <%= f.error_span(:broadcast_to_device) %>
    </div>
  <% end %>

  <% if @device.device_type == 'raspberry_pi' %>
  <div class="form-group">
    <div class="checkbox col-lg-offset-4" style="padding-left: 15px;">
      <label>
        <%= f.check_box :video_enabled %>
        Enable video?
      </label>
    </div>
  </div>

    <div class="form-group">
      <div class="checkbox col-lg-offset-4" style="padding-left: 15px;">
        <label>
          <%= f.check_box :invert_video %>
          Invert video?
        </label>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
      <%= f.submit nil, class: 'btn btn-primary', style: 'margin-right: 20px;' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), devices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  // when the document is ready
  $(document).ready(function () {
    // initialize tooltips
    $('.tooltip-trigger').tooltip();
  });
</script>
