<%= javascript_include_tag 'controls' %>

<% if @device.video_enabled? %>
  <% content_for :custom_head do %>
    <%= javascript_include_tag 'jsmpeg.min' %>
  <% end %>
<% end %>

<% if @device.offline? %>

  <div style="padding: 20px;">Device is offline.</div>

<% elsif @device.video_enabled? %>

    <canvas id="video_canvas" class="hidden pull-left" <%= "style='transform: scaleY(-1) scaleX(-1);'".html_safe if @device.invert_video? %>></canvas>

<% end %>

<script>

  // set the device id
  var device_id = '<%= @master_device.id %>';
  // set the auth token
  var device_auth_token = '<%= @master_device.private? ? @master_device.auth_token : nil %>';
  // set the i2c address
  var device_i2c_address = '<%= @device.i2c_address %>';
  // set the video url
  var video_server_url = '<%= @device.video_to_clients_url %>';

  // when the document is ready
  $(document).ready(function() {

    <% if @device.video_enabled? %>
      // start video on page load, with a slight delay to make sure everything has loaded
      setTimeout(function() {
        startVideo();
      }, 1000);
    <% end %>

  });

  // function to log the data
  function logData(data) {
    // do nothing
  }
</script>
