<% if current_user.blank? && @devices.present? %>
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Please <a href="<%= new_user_registration_path %>">sign up</a> to permanently save your devices.
  </div>
<% end %>

<% if @devices.count == 0 %>

  <h1>Welcome to LimitOS!</h1>

  <br><br>

  <h3>To get started, you'll need to add a new device.</h3>

  <br><br>

  You can add a new device by running the following command on your Raspberry Pi:

  <br><br>

  <%= render 'shared/install_command' %>

  <br><br><br>

  You can also read more about <a href="/docs/installation">installing LimitOS</a> or about <a href="/docs/security">our security</a>.

<% else %>

  <br><br>

  <%- model_class = Device -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:device_type) %></th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= link_to device.display_name, device_path(device) %></td>
          <td><%= device.device_type.try(:titleize) %></td>
          <td><%= device.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <%= link_to 'New Device', new_device_path, class: 'btn btn-primary' %>

<% end %>
