<%= Rails.application.config_for(:limitos)['domain'] %><div class="page-header">
  <h1>
    <%= @device.display_name %>
    <div class="pull-right">
      <%= link_to 'Back', device_path(@device), :class => 'btn btn-default btn-sm' %>
    </div>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10">
    <h2>API Information</h2>
    <ul>
      <li>Device ID: <b><%= @device.id %></b></li>
      <li>Authentication token: <b><%= @device.auth_token %></b></li>
    </ul>

<br>

    <h4>Device Control Example</h4>
    <pre>
HTTP POST https://<%= Rails.application.config_for(:limitos)['domain'] %>/api/v1/devices/<%= @device.id %>/control
          auth_token=<%= @device.auth_token %>
          pin=<%= @device.pins.try(:first).try(:pin_number) || 4 %>
          digital=on</pre>

    <br>

    <a href="/docs/api">Full API documentation</a>

    <br><br><br>

    <% if @device.device_type == 'raspberry_pi' %>
      <h3>Raspberry Pi Setup</h3>
      You can view the <%= link_to 'Raspberry Pi nodejs script', nodejs_script_device_path(@master_device) %> associated with this device.
      <br><br>
      You can also reinstall <%= Rails.application.config_for(:limitos)['application_name'] %> on this device by entering the following command on your Raspberry Pi:
      <br><br>
      <pre class="limitos-command"><%= reinstall_script_command(@device) %></pre>

    <% elsif @device.device_type == 'arduino' %>

      <h3>Arduino Setup</h3>
      <ol>
        <li>Connect the Arduino to a Raspberry Pi using I<sup>2</sup>C by connecting the ground, SDA, and SCL pins on the Arduino to the same pins on the Raspberry Pi.</li>
        <li>Copy and paste the <%= link_to 'Arduino script', arduino_script_device_path(@device) %> into the Arduino IDE and upload to the device.</li>
      </ol>

    <% end %>
  </div>
</div>
