<%- model_class = Device -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @device.display_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:device_type) %>:</strong></dt>
  <dd><%= @device.device_type %></dd>

  <% if @device.parent_device.present? %>
    <dt><strong><%= model_class.human_attribute_name(:i2c_address) %>:</strong></dt>
    <dd><%= @device.i2c_address %></dd>
  <% end %>

  <% if @device == @master_device %>
    <dt><strong><%= model_class.human_attribute_name(:auth_token) %>:</strong></dt>
    <dd><%= @master_device.auth_token %></dd>
  <% end %>

  <% if @device.parent_device.present? %>
    <dt><strong>Parent Device:</strong></dt>
    <dd><%= link_to @device.parent_device.name, @device.parent_device %></dd>
  <% end %>

  <% if @device.devices.present? %>
    <dt><strong>Children Devices:</strong></dt>
    <dd>
      <% @device.devices.each do |device| %>
        <%= link_to device.name, device %><br>
      <% end %>
    </dd>
  <% end %>

  <% if @device.broadcast_to_device.present? %>
    <dt><strong>Broadcast to Device:</strong></dt>
    <dd><%= link_to @device.broadcast_to_device.name, @device.broadcast_to_device %></dd>
  <% end %>

</dl>

<% if @master_device.device_type == 'raspberry_pi' %>
  <%= link_to 'Raspberry Pi Nodejs Script', nodejs_script_device_path(@master_device) %>
  <br>
  <a id="reinstall_link">Reinstall LimitOS on device</a>
  <br>
  <div id="reinstall_div" class="hidden">
    Enter the following command on your Raspberry Pi to reinstall the LimitOS process:
    <br>
    <pre>curl -sS --data "auth_token=<%= @device.auth_token %>" <%= full_url %>/devices/<%= @device.id %>/install | bash</pre>
  </div>
<% end %>
<% if @device.device_type == 'arduino' %>
  <%= link_to 'Arduino Script', arduino_script_device_path(@device) %>
<% end %>

<br><br>

<% if @device.parent_device.blank? %>
  <%= link_to 'Add Connected I2C Device', new_device_path(device_id: @device), class: 'btn btn-default' %>
<% end %>

<%= link_to 'Edit Device', edit_device_path(@device), :class => 'btn btn-default' %>
<%= link_to 'Delete Device',
              device_path(@device),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<br><br>

<h3>Pins</h3>
<% if @device.pins.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pin Number</th>
        <th>Name</th>
        <th>Type</th>
        <th>Minimum Value</th>
        <th>Maximum Value</th>
        <th>Transform</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @device.pins.each do |pin| %>
      <tr>
        <td><%= pin.pin_number %></td>
        <td><%= pin.name %></td>
        <td><%= pin.pin_type %></td>
        <td><%= pin.min %></td>
        <td><%= pin.max %></td>
        <td><%= pin.transform %></td>
        <td>
          <%= link_to 'Edit Pin', edit_device_pin_path(@device, pin), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Remove Pin', device_pin_path(@device, pin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to 'Add New Pin', new_device_pin_path(@device), class: 'btn btn-default' %>

<br><br>

<h3>Synchronizations</h3>
<% if @device.synchronizations.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @device.synchronizations.each do |synchronization| %>
      <tr>
        <td><%= synchronization.name %></td>
        <td>
          <%= link_to 'Edit Synchronization', edit_device_synchronization_path(@device, synchronization), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Remove Synchronization', device_synchronization_path(@device, synchronization), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to 'Add New Synchronization', new_device_synchronization_path(@device), class: 'btn btn-default' %>

<br><br>

<h3>Controls</h3>

<%= render 'synchronization_controls' %>

<%= render 'controls' %>

<br><br>

<script>
  // when the document is ready
  $(document).ready(function() {

    // when the reinstall link is clicked
    $('#reinstall_link').on('click', function() {
      // show the reinstall dive
      $('#reinstall_div').removeClass('hidden');
    });

  });
</script>
