<div class="page-header">
  <h1>
    <%= @device.display_name %>
    <div class="pull-right">
      <%= link_to 'Edit Device', edit_device_path(@device), :class => 'btn btn-default btn-sm' %>
    </div>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Device Type:</strong></dt>
  <dd><%= @device.device_type.try(:titleize) %></dd>

  <% if @device.parent_device.present? %>
    <dt><strong>I2C Address:</strong></dt>
    <dd><%= @device.i2c_address %></dd>
  <% end %>

  <% if @device.parent_device.present? %>
    <dt><strong>Parent Device:</strong></dt>
    <dd><%= link_to @device.parent_device.name, @device.parent_device %></dd>
  <% end %>

  <% if @device.devices.present? %>
    <dt><strong>Children Devices:</strong></dt>
    <dd>
      <% @device.devices.each do |device| %>
        <%= link_to device.name, device %><br>
      <% end %>
    </dd>
  <% end %>

  <% if @device.broadcast_to_device.present? %>
    <dt><strong>Broadcast to Device:</strong></dt>
    <dd><%= link_to @device.broadcast_to_device.name, @device.broadcast_to_device %></dd>
  <% end %>

</dl>

<%= link_to 'Setup', setup_device_path(@device) %>

<br><br>

<% if @device.parent_device.blank? %>
  <%= link_to 'Add Connected I2C Device', new_device_path(device_id: @device), class: 'btn btn-default btn-sm' %>
<% end %>

<br><br>

<h3>Pin Information</h3>
<% if @device.pins.present? %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Pin Number</th>
          <th>Type</th>
          <th>Minimum Value</th>
          <th>Maximum Value</th>
          <th>Output Pin Number</th>
          <th>Transform</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @device.pins.each do |pin| %>
        <tr>
          <td><%= pin.name %></td>
          <td><%= pin.pin_number %></td>
          <td><%= pin.pin_type %></td>
          <td><%= pin.min %></td>
          <td><%= pin.max %></td>
          <td><%= pin.output_pin_number %></td>
          <td><%= pin.transform %></td>
          <td>
            <%= link_to 'Edit Pin', edit_device_pin_path(@device, pin), class: 'btn btn-sm btn-default' %>
            <%= link_to 'Remove Pin', device_pin_path(@device, pin), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= link_to 'Add New Pin', new_device_pin_path(@device), class: 'btn btn-default' %>

<br><br>

<div class="hidden">
  <h3>Synchronizations</h3>
  <% if @device.synchronizations.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% @device.synchronizations.each do |synchronization| %>
        <tr>
          <td><%= synchronization.name %></td>
          <td>
            <%= link_to 'Edit Synchronization', edit_device_synchronization_path(@device, synchronization), class: 'btn btn-sm btn-default' %>
            <%= link_to 'Remove Synchronization', device_synchronization_path(@device, synchronization), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= link_to 'Add New Synchronization', new_device_synchronization_path(@device), class: 'btn btn-default' %>
</div>

<br><br>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>Device Controls</h3>

    <br>

    <div class="hidden">
      <%= render 'synchronization_controls' %>
    </div>

    <%= render 'controls' %>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Logs</h3>

    <br>

    <%= render 'logs' %>
  </div>
</div>

<br><br>

<%= render 'javascript' %>
