<div class="col-xs-12 col-sm-3 col-lg-2">
  <nav class="navbar navbar-default navbar-left">
    <h4>Documentation</h4>
    <%= link_to 'Installation', installation_docs_path %>
    <br>
    <%= link_to 'Pins', pins_docs_path %>
    <br>
    <%= link_to "API".html_safe, api_docs_path %>
    <br>
    <%= link_to "Live Video".html_safe, live_video_docs_path %>
    <br>
    <%= link_to "I<sup>2</sup>C".html_safe, i2c_docs_path %>
    <br>
    <%= link_to 'Security', security_docs_path %>
    <br>
  </nav>
</div>
