<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <h1>Push Button Tutorial</h1>

    <br><br>

    <h3>Requirements</h3>
    <ul>
      <li>Raspberry Pi connected to the internet</li>
      <li>Circuit materials: push button, breadboard, wires, 10k ohm resistor</li>
    </ul>

    <br><br><br>

    <h4>1. Set up the circuit</h4>
    Connect the button to GPIO pin 17, and ground it using a 10k ohm resistor.
    <br><br>
    <%= tutorial_image('tutorials/button_circuit.png') %>

    <br><br><br>

    <h4>2. Install <%= Rails.application.config_for(:limitos)['application_name'] %> on the Raspberry Pi</h4>
    Installation is a single command:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_install.gif') %>

    <br><br><br>

    <h4>3. Set up the device on the <%= Rails.application.config_for(:limitos)['application_name'] %> website</h4>
    Add pin 17 as a digital input, and you can then push the button and see the on/off state on the <%= Rails.application.config_for(:limitos)['application_name'] %> webpage.
    <br><br>
    <%= tutorial_image('tutorials/button.jpg') %>

    <br><br><br><br>

  </div>
</div>
