<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <h1>LED Tutorial</h1>

    <br><br>

    <h3>Requirements</h3>
    <ul>
      <li>Raspberry Pi connected to the internet</li>
      <li>Circuit materials: LED, breadboard, wires, 330 ohm resistor</li>
    </ul>

    <br><br><br>

    <h4>1. Set up the circuit</h4>
    Connect the LED to GPIO pin 4, and add a 330 ohm resistor in series.
    <br><br>
    <%= tutorial_image('tutorials/led_circuit.png') %>
    <br><br>
    <%= tutorial_image('tutorials/led_off.jpg') %>

    <br><br><br>

    <h4>2. Install <%= Rails.application.config_for(:limitos)['application_name'] %> on the Raspberry Pi</h4>
    Installation is a single command:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_install.gif') %>

    <br><br><br>

    <h4>3. Set up the device on the <%= Rails.application.config_for(:limitos)['application_name'] %> website</h4>
    Add pin 4 as a digital output, and you can then click the "on" or "off" buttons on the website to turn the LED on or off.
    <br><br>
    <%= tutorial_image('tutorials/led_on.jpg') %>

    <br><br><br><br>

  </div>
</div>
