<% content_for :custom_head do %>
  <%= image_meta_tag('tutorials/pi_camera.jpg') %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <div class="page-header">
      <h1>Live Video Tutorial</h1>
    </div>

    <br>

    <h3>What you'll be building</h3>

    In this tutorial you'll learn how to set up a live video feed from your Raspberry Pi that can be viewed across the internet on your desktop, tablet, or mobile phone.

    <br><br>

    <h3>Requirements</h3>
    <ul class="spaced-list">
      <li>Raspberry Pi connected to the internet</li>
      <li><a href="https://www.raspberrypi.org/products/camera-module-v2/">Raspberry Pi camera</a></li>
      <li><a href="https://raspberrypi.com/software/">Raspberry Pi OS</a> (or ffmpeg manually installed)</a></li>
    </ul>

    <br><br><br>

    <h3>Step 1: Enable the camera</h3>
    The camera must be enabled first using the command:
    <br>
    <pre class="limitos-command" style="margin-top: 10px;">sudo raspi-config</pre>
    <br>
    Visit the <a href="https://www.raspberrypi.org/documentation/usage/camera/">official documentation</a> for more info.
    <br><br>
    <%= tutorial_image('tutorials/pi_camera.jpg') %>

    <br><br><br>

    <h3>Step 2: Run <%= Rails.application.config_for(:limitos)['application_name'] %> on the Raspberry Pi</h3>
    LimitOS runs alongside your existing operating system, and can be run via:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_run.gif') %>

    <br><br><br>

    <h3>Step 3: Enable <%= Rails.application.config_for(:limitos)['application_name'] %> video</h3>
    Edit your device by selecting "My Devices" above, clicking on the device, and then clicking "Edit Device".
    <br>
    Make sure to check the "Enable live video" checkbox.
    <br>
    If your video appears upside down, you can also come back here later to invert the video.
    <br><br>
    <%= tutorial_image('tutorials/enable_video.gif') %>

    <br><br><br>

    <h3>Step 4: View your live video feed</h3>
    Navigate back to your device, and click the "Start Video" button.  Your live video feed should now appear!
    <br><br>
    <%= tutorial_image('tutorials/video_stream.gif', 'display: inline-block; border: 1px solid #00dde3;') %>

    <br><br><br><br>

  </div>
</div>
