tutorial<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <div class="page-header">
      <h1>Rover (Toy Car) Tutorial</h1>
    </div>

    <br>

    <h3>What you'll be building</h3>

    This tutorial teaches you how to build a rover that can be driven using your mobile phone.
    It includes a live video feed and a control interface for driving.
    Since the rover and your phone both have internet access, the toy car can be controlled from across the world.

    <br><br>

    <h3>Requirements and Materials</h3>
    <ul class="spaced-list">
      <li>Raspberry Pi connected to the internet</li>
      <li><a href="https://www.raspberrypi.org/products/camera-module-v2/">Raspberry Pi camera</a></li>
      <li><a href="https://www.raspberrypi.org/downloads/raspbian/">Raspian Stretch</a> (or ffmpeg manually installed)</a></li>
      <li>
        Chassis Components:
        <a href="https://www.pololu.com/product/1418/" target="_blank">Zumo chassis kit</a>,
        <a href="https://www.pololu.com/product/998" target="_blank">2 micro motors</a>,
        <a href="https://www.amazon.com/dp/B01CC8XI60/" target="_blank">L298N module</a>,
        4 AA batteries
      </li>
      <li>External Power Source, for example the <a href="https://www.amazon.com/gp/product/B005X1Y7I2/" target="_blank">Anker PowerCore+ Mini</a></li>
      <li>Wires, tape, foam packing material, rubber bands</li>
    </ul>

    <br><br><br>

    <h3>Step 1: Build the Chassis</h3>
    Follow the first 6 minutes and 15 seconds of <a href="https://www.youtube.com/watch?v=AZSiqj0NZgU" target="_blank">this tutorial video</a> to build the chassis. 

    <br><br><br><br>

    <h3>Step 2: Connect the Raspberry Pi</h3>

    <br><br><br><br>

    <h3>Step 3: Add the L298N Module</h3>

    <br><br><br><br>


    <h3>Step 4: Enable the camera</h3>
    The camera must be enabled first using the command:
    <br>
    <pre class="limitos-command" style="margin-top: 10px;">sudo raspi-config</pre>
    <br>
    Visit the <a href="https://www.raspberrypi.org/documentation/usage/camera/">official documentation</a> for more info.
    <br><br>
    <%= tutorial_image('tutorials/pi_camera.jpg') %>

    <br><br><br>

    <h3>Step 5: Install <%= Rails.application.config_for(:limitos)['application_name'] %> on the Raspberry Pi</h3>
    Installation is a single command:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_install.gif') %>

    <br><br><br>

    <h3>Step 6: Enable <%= Rails.application.config_for(:limitos)['application_name'] %> video</h3>
    Edit your device by selecting "My Devices" above, clicking on the device, and then clicking "Edit Device".
    <br>
    Make sure to check the "Enable live video" checkbox.
    <br>
    If your video appears upside down, you can also come back here later to invert the video.
    <br><br>
    <%= tutorial_image('tutorials/enable_video.gif') %>

    <h3>Step 7: Set up the Pins</h3>

    <br><br><br><br>

    <h3>Step 8: Set up the Control Interface</h3>

    <br><br><br><br>

  </div>
</div>
