<% content_for :custom_head do %>
  <%= image_meta_tag('tutorials/rover_assembled.jpg') %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">

    <div class="page-header">
      <h1>Two-Way Audio Devices Tutorial<br>(static "walkie talkies")</h1>
    </div>

    <br>

    <h3>What you'll be building</h3>

    This tutorial teaches you how to build two-way audio devices that can be placed in remote locations. By pushing a button, one person can talk to another via the internet and vice versa.
    You'll need to repeat steps 1-5 twice so that you end up with two audio devices.

    <h3>Requirements and Materials</h3>
    <ul class="spaced-list">
      <li>Two Raspberry Pis connected to the internet</li>
      <li><a href="https://raspberrypi.com/software/">Raspberry Pi OS</a></li>
      <li>Two USB microphones</li>
      <li>Two USB speakers</li>
      <li>Two boxes to house the components</li>
      <li>Circuit materials: push button, breadboard, wires, 10k ohm resistor</li>
    </ul>

    <br><br>

    <%= tutorial_image('tutorials/completed_boxes.jpg') %>

    <br><br><br>

    <h3>Step 1: Set up the circuit</h3>
    Connect the button to GPIO pin 17, and ground it using a 10k ohm resistor.
    <br><br>
    <%= tutorial_image('tutorials/two_way_audio_circuit.png') %>

    <br><br><br>

    <h3>Step 2: Set up speaker and microphone</h3>
    Connect the USB speaker and microphone, and make holes in the box for the speaker, microphone, power cable, and push button.

    <br><br>

    <%= tutorial_image('tutorials/inside_box.jpg') %>

    <br><br><br>

    <h3>Step 4: Run <%= Rails.application.config_for(:limitos)['application_name'] %> on the Raspberry Pi</h3>
    LimitOS runs alongside your existing operating system, and can be run via:
    <br>
    <%= render 'shared/install_command' %>
    <br>
    Follow the on-screen instructions to register the device afterwards.
    <br><br>
    <%= tutorial_image('tutorials/limitos_run.gif') %>

    <br><br><br>

    <h3>Step 5: Configure audio</h3>
    Using the Raspberry Pi OS user interface, change the audio output to the USB device via the speaker icon in the top right.
    <br><br>
    Then, using the LimitOS web interface:
    <ul>
      <li>navigate to the device and click "Edit Device"</li>
      <li>in the "Broadcast to device" field, select the opposite audio device so that audio is output remotely</li>
      <li>check the "Enable two-way audio?" checkbox</li>
      <li>set the "Audio start pin" as pin 17</li>
      <li>click "Update Device" to save</li>
    </ul>

    <br><br><br>

    <h3>Step 6: Test it out</h3>
    Make sure you've repeated steps 1-5 above for each device. Then, by holding down the button on one device, you should be able to speak in the microphone and hear it from the other device.
    You can then move the devices to remote locations with WiFi, and communicate remotely.

    <br><br><br>

    <h3>Debugging info</h3>

    <br><br><br><br>

  </div>
</div>
