<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Limit<span class="limitos-yellow">OS</span></a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if @devices.present? %>
          <li class="skew">
            <%= link_to devices_path do %>
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> My Devices
            <% end %>
          </li>
        <% end %>
        <li class="skew">
          <%= link_to register_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Register Device
          <% end %>
        </li>
        <li class="skew">
          <%= link_to docs_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Documentation
          <% end %>
        </li>
        <li class="skew">
          <%= link_to tutorials_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Tutorials
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li class="skew">
            <%= link_to account_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Account
            <% end %>
          </li>
        <% else %>
          <li class="skew">
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign In
            <% end %>
          </li>
          <li class="skew">
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
