<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container-fluid" style="margin-bottom: 20px;">
      <div style="min-height: 525px;">
        <div id="flash-message">
          <%= bootstrap_flash %>
        </div>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
