<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="<%= GIT_VERSION %>">
    <title><%= content_for?(:title) ? yield(:title) : "LimitOS" %></title>
    <link rel="icon" href="<%= image_url('favicon.png') %>">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Limit<span class="limitos-yellow">OS</span></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if @devices.present? %>
              <li><%= link_to "My Devices", devices_path %></li>
            <% end %>
            <li><%= link_to "Register Device", register_path  %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><%= link_to 'My Account', account_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div style="min-height: 525px;">
        <div id="flash-message">
          <%= bootstrap_flash %>
        </div>
        <%= yield %>
      </div><!--/row-->

    </div> <!-- /container -->

    <footer>
      <hr>
      <div class="container row">
        <div class="col-xs-12">
          <div class="pull-left">
            Questions? Comments? <a href="mailto:info@limitos.com">info@limitos.com</a>
          </div>
          <div class="pull-right">
            &copy; LimitOS <%= Date.today.year %>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
