<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>

    <style>
      /* fix navbar styles for docs */
      .navbar { margin-bottom: 0; }
    </style>

  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container-fluid">
      <div class="row">
        <%= render 'sidebar' %>
        <div class="col-xs-12 col-sm-8 col-lg-7 maincontent-right">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
