<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>

    <style>
      /* fix navbar styles for docs */
      .navbar { margin-bottom: 0; }
    </style>

  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-sm-8 col-lg-7" style="border-left: 1px solid #00dde3; padding-bottom: 30px;">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
