<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>

    <style>
      /* fix navbar styles for docs */
      .navbar { margin-bottom: 0; }
    </style>

  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-sm-9 col-lg-10">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
